# Python
venv/
__pycache__/
*.py[cod]
.pytest_cache/

# Local database — recreated on startup by init_db()
*.db

# Node
node_modules/
dist/

# Environment
.env
.env.local

# macOS
.DS_Store

# Editors
.vscode/
.idea/
